/*GERAIS*/
body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px;
}

p, li {
    color:black ;
}

/* --------------------------------------- TELA INICIAL -----------------------------------------------------------------------------*/

/*BARRA DE NAVEGAÇÃO BRUNO MENDES*/

#cabecalho{
    z-index: 2;
    border: #000;
    height: 25px;
    background-color: #7E0000;
}

#rowCinza{
   
    border: #000;
    height: 25px;
    background-color: #666666;
}

header, .navbar{
    z-index: 1;
    background-color: #FFFFFF;
    
}

.navbar-brand{
    left: 66px;
    top: 30px;
    color: #FFFFFF;
    padding-top: 20px;
}

#nav2{
    height: auto;
}

.navbar-brand:hover {
    color: #000000;   
}

#navbar-links a{
    color: #000;
    font-size: 36px;
}

.navbar-expand-lg .navbar .nav-link {
    padding: 1rem .8rem;
}

/*APRENDA SCRUM BIANCA LUCAS */
#cont-verde{
    padding-top: 50px;
    background-color: #004854;

}

#imgscrum{
    width: 80%;
}

#titulo-scrum h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #FFFFFF ;


}

#texto-scrum p, li{
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
   
}

#botaoSaiba{
    background-color: #7E0000;
    border: 0px;
    width: 320px;
    height: 80px;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;

}


/*CARD MÓDULOS MARIANA RAMALHO*/
#cardli{
    font-family: 'Roboto', sans-serif;
    color:black ;
    font-weight: 400;
    font-size: 20px;

}

#card-text{
    font-family: 'Roboto', sans-serif;
    color:black ;
    font-size: 20px;
    text-align: left;
    overflow-wrap: break-word;
    
}

#card-titulo{
    font-family: 'Roboto', sans-serif;
    color:black;
    text-align: left;
    overflow-wrap: break-word;
}

#cardTop{
    background-color: #004854;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;;
    color: #FFFFFF;
    }


/*BOTÃO INICIAR CURSO MARIANA RAMALHO*/

/*OS DESENVOLVEDORES WILLIAN GARCIA E LUIZ EDUARDO*/


/*CONTATO RAFAEL ESTEVAM*/


/*RODAPÉ RAFAEL ESTEVAM*/


/* --------------------------------------- TELA CONTEÚDO -----------------------------------------------------------------------------*/


/*BARRA DE NAVEGAÇÃO HECLAIR */


/*CARROSSEL LUIZ EDUARDO*/


/*BOTÕES DANIEL DORNELAS */


/*RODAPÉ RAFAEL ESTEVAM */