/*GERAIS*/
body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li {
    color:black ;
}

/* --------------------------------------- TELA INICIAL -----------------------------------------------------------------------------*/

/*BARRA DE NAVEGAÇÃO BRUNO MENDES*/


/*APRENDA SCRUM BIANCA LUCAS */


/*BOTÃO SAIBA MAIS BIANCA LUCAS */


/*CARD MÓDULOS MARIANA RAMALHO*/


/*BOTÃO INICIAR CURSO MARIANA RAMALHO*/


/*OS DESENVOLVEDORES WILLIAN GARCIA E LUIZ EDUARDO*/


/*CONTATO RAFAEL ESTEVAM*/


/*RODAPÉ RAFAEL ESTEVAM*/


/* --------------------------------------- TELA CONTEÚDO -----------------------------------------------------------------------------*/


/*BARRA DE NAVEGAÇÃO HECLAIR */


/*CARROSSEL LUIZ EDUARDO*/


/*BOTÕES DANIEL DORNELAS */


/*RODAPÉ RAFAEL ESTEVAM */