/*GERAIS*/
body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li {
    color:black ;
}

/*BARRA DE NAVEGAÇÃO*/

header, .navbar{
    background-color: #FFFFFF;
}

.navbar-brand{
    
    left: 66px;
    top: 18px;
    padding: 0;
    color: #FFFFFF;
}

.navbar-brand:hover {
    color: #000000;   
}

#navbar-links a{
    color: #000;
    font-size: 36px;
}

.navbar-expand-lg .navbar .nav-link {
    padding: 1rem .8rem;
}

/*ROW VERDE*/

#row-verde{
    background-color: #354A53;
}

#cont-verde{
    background-color: #354A53; 
}

#titulo-scrum{
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF ;
}

#texto-scrum p, li{
    text-justify: auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
    
}

#imgscrum{
    width: 80%;
}

/*CARD TEXTO*/

#cardli{
    font-family: 'Roboto', sans-serif;
    color:black ;
    font-size: 15px;

}

#card-text{
    font-family: 'Roboto', sans-serif;
    color:black ;
    font-size: 20px;
    text-align: center;
}

#card-titulo{
    font-family: 'Roboto', sans-serif;
    color:black;
    text-align: center;
}

/* BOTÃO*/

#inicurso{
    width: 100%;
    height: 80px;
}

/*TEXTO DEVS*/

#titulo-devs{
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    color: #000 ;
    
}

#texto-devs p, li{
    text-justify: auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #000;
}

#row-devs{
    background-color: #D9D9D9;
}

#cont-dev{
    background-color: #D9D9D9;
}

#perrydevsico{
    width: 100%;
}